:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.link {
  text-decoration: none;
  color: white;
}
.auth-background {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.error {
  color: red;
  font-weight: 700;
}